@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --celora-teal: #14b8a6;
  --celora-teal-light: #2dd4bf;
  --celora-dark: #0f1419;
}

body {
  color: white;
  background: #111827;
}
